.main-space {
    width: 100vw;
    height: 100vh;
    min-width: 1500px;
    padding: 0px;

    display: flex;

    .control-space {
        width: 300px;
        height: 700px;
        min-width: 300px;
        padding-left: 10px;

        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0px;
    }

    .bridge-container {
        width: 1200px;
        height: 700px;
        min-width: 1200px;
    }

    .background1 {
        background-image: url('../img/background1.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3f5669;
    }
    
    .background2 {
        background-image: url('../img/background2.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3f5669;
    }
    
    .background3 {
        background-image: url('../img/background3.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3f5669;
    }
    
    .background4 {
        background-image: url('../img/background4.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3f5669;
    }
}

.ant-form-item {
    margin-bottom: 10px;
}